<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225318326744-j7m82efco9ni86qsoqf845viu989u8sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225318326744-j7m82efco9ni86qsoqf845viu989u8sn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225318326744-0g1gcl3u5o4acu8fuqtihtht5t2vd7td.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8CNJieXy1frdf8P3UbGYs7jA5od--wuE</string>
	<key>GCM_SENDER_ID</key>
	<string>225318326744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DHive.lagosMatchMaker</string>
	<key>PROJECT_ID</key>
	<string>lagosmatchmaker-49909</string>
	<key>STORAGE_BUCKET</key>
	<string>lagosmatchmaker-49909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225318326744:ios:6f1c4067456a7e04a962ad</string>
	<key>DATABASE_URL</key>
	<string>https://lagosmatchmaker-49909.firebaseio.com</string>
</dict>
</plist>