<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>LagosMatchMaker Private</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This sample uses the microphone to record your speech and convert it to text.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>NSContactsUsageDescription</key>
	<string>for syncing purposes</string>
	<key>NSCalendarsUsageDescription</key>
	<string>for syncing purposes</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>to allow photo upload</string>
	<key>NSCameraUsageDescription </key>
	<string>to allow taking of profile picture</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>to allow playback of voice recordings</string>
	<key>NSMotionUsageDescription</key>
	<string>to caputre profile data</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>for analysis of voice recording</string>
	<key>NSCameraUsageDescription</key>
	<string>to allow taking of profile picture</string>
</dict>
</plist>
